*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.quiz-container {
  background: #fff;
  padding: 25px;
  width: 50%;
  max-width: 800px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button.answer {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #f1f1f1;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button.answer:hover {
  background: #667eea;
  color: white;
  transform: scale(1.03);
}


#nextBtn {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#nextBtn:hover {
  background: #5a67d8;
}

.correct {
  background: #28a745;
  color: white;
}

.wrong {
  background: #dc3545;
  color: white;
}

