* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: linear-gradient(to right,#5a2c21 ,  #684243);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background: white;
      padding: 30px;
      border-radius: 15px;
      width: 350px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    h1 {
      margin-bottom: 20px;
      color: #ff4b6e;
    }

    input {
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      border: 2px solid #ff4b6e;
      border-radius: 8px;
      outline: none;
      font-size: 16px;
    }

    button {
      background: #ff4b6e;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.3s;
    }

    button:hover {
      background: #e63c5f;
    }

    #result {
      margin-top: 20px;
      font-size: 18px;
      color: #333;
      line-height: 1.6;
    }